.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-weight: 400;    
    font-size: 16px;
    color: #1F1F24;
}

.header__nav-link {
    /* border: 0px solid orange; */
    transition: color .3s ease;
    /* transition: border .9s ease; */
}

.header__nav-link:hover {
    color: orange;
    /* border: 1px solid orange; */
}

.header__contacs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__tel {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 25px;
    color: #1F1F24;
}

.header__link {
    padding: 10px 40px;
    /* color: #f53f4f; */
    color: orange;
    /* border: 1px solid #f53f4f; */
    border: 1px solid orange;
    background-color: inherit;
    transition: background-color 1s ease;
    transition: color 1s ease;
}

.header__link:hover {
    color: #fff;
    background-color: orange;
}

@media (max-width: 1000px) {
    .header__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}